$font-size-name-product: 20px;
$font-size-info: 15px;
$font-size-price-quantity: 20px;
$font-size-total: 20px;

// <div class="list">
//               <!-- <div class="item my-1 d-flex">
//                 <div class="img w-25 text-center">
//                   <img
//                     src="image.png"
//                     class="img-fluid rounded h-100"
//                     alt=""
//                   />
//                 </div>
//                 <div class="content w-75">
//                   <div class="name_product"><label>Iphone</label></div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                     Quae, dolorum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab enim minima delectus nemo laborum, quidem, id modi facere commodi expedita non recusandae maxime optio eaque accusantium debitis, earum blanditiis tempora!
//                   </div>
//                   <div class="price_quantity">
//                     Price: 
//                     <label>12.000.000</label>
//                   </div>
//                 </div>
//               </div> -->

//               <!-- test -->
//               <div class="item">
//                 <div class="img"></div>
//                 <div class="content">
//                   <div class="name_product">
//                     <label class="name">Iphone</label>
//                   </div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                   </div>
//                   <div class="price_quantity">
//                     <div class="price_quantity_left">
//                       <label>Price:</label>
//                       <label class="price">12.000.000</label>
//                     </div>
//                     <div class="price_quantity_right">
//                       <div class="quantity">
//                         <button class="minus">
//                           <i class="fa fa-minus"></i>
//                         </button>
//                         <button class="number">0</button>
//                         <button class="plus">
//                           <i class="fa fa-plus"></i>
//                         </button>
//                       </div>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//               <div class="item">
//                 <div class="img"></div>
//                 <div class="content">
//                   <div class="name_product">
//                     <label class="name">Iphone</label>
//                   </div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                   </div>
//                   <div class="price_quantity">
//                     <div class="price_quantity_left">
//                       <label>Price:</label>
//                       <label class="price">12.000.000</label>
//                     </div>
//                     <div class="price_quantity_right">
//                       <div class="quantity">
//                         <button class="minus">
//                           <i class="fa fa-minus"></i>
//                         </button>
//                         <button class="number">0</button>
//                         <button class="plus">
//                           <i class="fa fa-plus"></i>
//                         </button>
//                       </div>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//               <div class="item">
//                 <div class="img"></div>
//                 <div class="content">
//                   <div class="name_product">
//                     <label class="name">Iphone</label>
//                   </div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                   </div>
//                   <div class="price_quantity">
//                     <div class="price_quantity_left">
//                       <label>Price:</label>
//                       <label class="price">12.000.000</label>
//                     </div>
//                     <div class="price_quantity_right">
//                       <div class="quantity">
//                         <button class="minus">
//                           <i class="fa fa-minus"></i>
//                         </button>
//                         <button class="number">0</button>
//                         <button class="plus">
//                           <i class="fa fa-plus"></i>
//                         </button>
//                       </div>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//               <div class="item">
//                 <div class="img"></div>
//                 <div class="content">
//                   <div class="name_product">
//                     <label class="name">Iphone</label>
//                   </div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                   </div>
//                   <div class="price_quantity">
//                     <div class="price_quantity_left">
//                       <label>Price:</label>
//                       <label class="price">12.000.000</label>
//                     </div>
//                     <div class="price_quantity_right">
//                       <div class="quantity">
//                         <button class="minus">
//                           <i class="fa fa-minus"></i>
//                         </button>
//                         <button class="number">0</button>
//                         <button class="plus">
//                           <i class="fa fa-plus"></i>
//                         </button>
//                       </div>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//               <div class="item">
//                 <div class="img"></div>
//                 <div class="content">
//                   <div class="name_product">
//                     <label class="name">Iphone</label>
//                   </div>
//                   <div class="info_product">
//                     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
//                   </div>
//                   <div class="price_quantity">
//                     <div class="price_quantity_left">
//                       <label>Price:</label>
//                       <label class="price">12.000.000</label>
//                     </div>
//                     <div class="price_quantity_right">
//                       <div class="quantity">
//                         <button class="minus">
//                           <i class="fa fa-minus"></i>
//                         </button>
//                         <button class="number">0</button>
//                         <button class="plus">
//                           <i class="fa fa-plus"></i>
//                         </button>
//                       </div>
//                     </div>
//                   </div>
//                 </div>
//               </div>
//             </div>